* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #0c0c0c;
    position: relative;
    font-family: roboto, sans-serif;
}

/* Navbar */

#toggle {
    display: none;
}

#navbar {
    width: 100%;
    display: flex;
    position: fixed;
    /* Navbar height is 80px */
    height: 80px;
    top: 0;
    left: 0;
    padding: 0 4%;
    background-color: #0c111b;
    align-items: center;
    z-index: 1;
}

/* Img */

.logo {
    height: 70px;
}

/* Navlinks */
.nav-links {
    display: flex;
    margin-top: 10px;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    opacity: 0.9;
    color: white;
}

/* Search-bar and Btn  */

.right-container {
    display: block;
    margin-left: auto;
}

#search-box {
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    font-weight: 500;
    /* Create transition for 0.5s */
    transition: 0.5s;
    font-size: 16px;
}

.search-icon {
    color: #0c111b;
}

#search-box:focus {
    width: 400px;
    border-color: #1f80e0;
}

.sub-btn {
    background: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.login-link {
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.caraousal-container {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0px;
    overflow-x: hidden;
    margin-top: 80px;
}

.caraousal {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img {
    width: 60%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slider-content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -2;
    background: linear-gradient((to right, #030b17 80%, #0c111b00));
    color: #fff;

}

.movie-title {
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
    font-weight: bold;
}

.movie-des {
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}

/* video */

.video-card-container {
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.video-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
    cursor: pointer;
}

.video-card-image,
.card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video {
    position: absolute;
}

.video-card:hover .video-card-image {
    display: none;
}

/* Recommended for you */
.container {
    position: relative;
}

.title {
    color: #fff;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
}

.movies-list {
    width: 100%;
    height: 220px;
    position: absolute;
    margin: 10px 0 20px;
}

.card-container {
    position: relative;
    width: 92%;
    padding-left: 10px;
    height: 220px;
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: visible;
    align-items: center;
    scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-body {
    opacity: 1;
}

.card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.name {
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 60%;
    font-weight: 500;
}

.des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
}

.watchlist-btn {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}

.watchlist-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url("Img/add.png");
    background-size: cover;
    transform: scale(0.4);
}

.watchlist-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

.pre-btn,
.nxt-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
}

.pre-btn {
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}


.nxt-btn {
    right: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}

.pre-btn img,
.nxt-btn img {
    width: 15px;
    height: 20px;
    opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}


@media (max-width:426px) {

    /* Navbar */

    #navbar {
        display: flex;
        position: fixed;
        /* Navbar height is 80px */
        height: 80px;
        top: 0;
        left: 0;
        padding: 0 5%;
    }

    /* Img */

    .logo {
        width: 28%;
        height: 50px;
    }

    /* Navlinks */
    .nav-links {
        display: none;
    }

    /* Search-bar and Btn  */

    .right-container {
        display: block;
        margin-left: 14px;
    }

    #search-box {
        display: none;
    }

    .sub-btn {
        height: 25px;
        padding: 0 8px;
        font-size: 12px;
        font-weight: 700;
        margin-right: auto;
    }

    .login-link {
        display: none;
    }

    .search-icon {
        color: #fff;
        opacity: 0.5;
    }

    #toggle {
        color: white;
        display: block;
        margin-right: 20px;
        font-size: large;
    }

    /* Carousal */
    .caraousal-container {
        width: 100%;
        height: 10px;
        padding: 20px 0px;
    }

    .caraousal {
        display: flex;
        width: fit-content;
        object-fit: cover;
        height: 10px;
        position: relative;
        margin: auto;
    }

    .slider {
        width: 100%;
        height: 70%;
    }

    .slider img {
        width: 100%;
        min-height: 100%;
        display: block;
        margin-left: auto;
    }


    .slider-content {
        display: none;
    }


    /* Video */

    .video-card-container {
        width: 92%;
        height:1000px;
        flex-direction: column;
        margin-top: -90px;
    }

    .video-card {
        position: relative;
        min-width: calc(100%/1);
        width: calc(100%/1);
        margin: 10px 0px;
    }

    .video-card-image,
    .card-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-video {
        position: absolute;
    }


    .container {
        margin-top: -10px;
    }

    /* Recommended and popular */
    .title {
        padding-left: 4%;
        font-size: 25px;
        font-weight: 500;
    }

    .movies-list {
        width: 100%;
        height: 220px;
        position: absolute;
        margin: 10px 0 20px;
    }

    .card-container {
        position: relative;
        width: 92%;
        padding-left: 10px;
        height: 220px;
        display: flex;
        margin: 0 auto;
        overflow-x: auto;
        overflow-y: visible;
        align-items: center;
        scroll-behavior: smooth;
    }

    .card {
        position: relative;
        min-width: 150px;
        width: 150px;
        height: 200px;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 10px;
        transition: 0.5s;
    }

    .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card:hover {
        transform: scale(1.1);
    }

    .card:hover .card-body {
        opacity: 1;
    }
}

@media (max-width:768px) {

    #search-box {

        height: 30px;
        ;
        width: 120px;
        font-weight: 500;
        /* Create transition for 0.5s */
        transition: 0.5s;
        font-size: 16px;
    }

    #search-box:focus {
        width: 150px;
        border-color: #1f80e0;
    }

    .caraousal-container {
        position: relative;
        width: 100%;
        height: 390px;
        padding: 20px 0px;
        overflow-x: hidden;
        margin-top: 80px;
    }

    .caraousal {
        display: flex;
        width: 92%;
        height: 98%;
        position: relative;
        margin: auto;
    }

    .slider img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        display: block;
        margin-left: auto;
    }

    .slider-content {
        display: none;
    }
}
